body {
  font-family: Inter, sans-serif;
  background: #27292c;
  color: white;
  margin: 0;

  background-image: url("../Fragments/React-icon-half.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 9rem;
}

.header {
  background-color: #21222A;
}

.header h1 {
  color: #61DAFB;
  font-size: 1.4rem;
  font-weight:700;
  margin-left: 8px;
}

.header-icon{
  width: 30px;
}

.header-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.main-title{
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 2.4rem;
}

ul li{
  margin: 18px 0;
}

ul li::marker{
  color: #61DAFB;
  font-size: 1.5rem;
}

/* body{
  
} */